.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.caloutlet{
  box-shadow: 2px 2px 26px lightgrey;
  padding:20px;
  border-radius: 10px;
  width:400px;
  height:580px;
  overflow: hidden;
  position: relative;
  margin: 20px auto;
  text-align: center;
}

.inputclass{
  padding:30px;
  width:300px;
  /* border-radius: 15px; */
}

.layout{
  /* border-style: solid; */
  /* border-color: aqua; */
  vertical-align: top;
  box-sizing: border-box;
  margin-top:7px;
}
.row{

  /* border-style: solid; */
  /* border-color:red; */
}

.buttonclass{
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding:35px;
  border: solid 1px black;
  margin:2px;
  cursor: pointer;
}